<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Font family -->
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Links -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">

    <!-- Style -->
    <link rel="stylesheet" href="../static/css/design.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/root.css">
    <link rel="stylesheet" href="../static/css/animation.css">
</head>
<body style="overflow: hidden; margin-top: 0;">

    <section id="sign-in">
        <div class="text-frame">
            <h1 class="title-design">Sign in</h1>
            <label class="subtitle-design">Create account so you can explore more and post comments on our website.</label>
        </div>
        <div class="input-design">
            <label class="subtitle-design">Email address</label>
            <input type="text" placeholder="email@example.com" id="email" class="input-design">
            <input type="text" placeholder="********" id="password" class="input-design">
            <input type="text" placeholder="John" id="name" class="input-design">
            <input type="text" placeholder="Doe" id="surname" class="input-design">
            <input type="text" placeholder="Profile Picture URL" id="pfp" class="input-design">
        </div>
        <a href="#"><input type="button" value="Continue" onclick="register()" class="button-design"></a>

        

        <div class="other-sign-in">

            <label class="subtitle-design split">OR</label>

            <a href="#"><input type="button" value="Sign in with Google" class="button-design"></a>
            <a href="#"><input type="button" value="Sign in with GitHub" class="button-design"></a>
            <a href="#"><input type="button" value="Sign in with FaceBook" class="button-design"></a>
            <a href="#"><input type="button" value="Other options" class="button-design"></a>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/img-hover.js"></script>
    <script src="../static/scripts/registration.js"></script>
    <script src="../static/scripts/script.js"></script>
</body>
</html>