:root {

    /* Font Family */
    --title-font-family: "Playfair Display";
    --subtitle-font-family: "Lora";
    --text-font-family: "Sans Serif";


    /* Colors */
    --white: #FFFFFF;
    --black: #a5a5a5;
    --light-black: #a5a5a533;
    --light-blue: #ACD4E4;
    --light-green: #ace4ae;
    --light-pink: #F8EFFF;

}