/* Header */
header {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

}
.hero-container {
    width: 600px;
    height: 220px;
    position: relative;
    z-index: 1;
}
.hero-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    transition: transform 0.1s ease-out;
    border-radius: 15px;
    position: absolute;
}
.hero-image:nth-child(1) { rotate: 12deg; bottom: 0px; left: -60px; width: 270px; }
.hero-image:nth-child(2) { rotate: 5deg; bottom: 10px; left: 150px; }
.hero-image:nth-child(3) { rotate: -10deg; bottom: -80px; left: 260px; height: 250px; width: 230px;}
.hero-image:nth-child(4) { rotate: 5deg; bottom: 10px; left: 380px; width: 250px;}

/* --------------------------------------------------------------------- */
/* Blogs desing */
/* Blog 2 */
.blog-2 {
    justify-content: start;
    flex-direction: column-reverse;    
}
.blog-2 .top {
    margin-top: -50px;
    height: 40%;
    width: 100%;
    order: 1;
    
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: start;
}
.blog-2 .top h1 {
    width: 500px;
}
.blog-2 .bottom {
    height: 50%;
    width: 100%;
}
.blog-2 .bottom .bottom-1 {
    width: 100%;
    height: 30%;
}
.blog-2 .bottom .bottom-2 {
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
    margin-top: 50px;
}
.blog-2 .bottom .bottom-2 .img-frame img:nth-child(1) {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    left: 30px;
    bottom: 0;
    transform: rotate(10deg);
}
.blog-2 .bottom .bottom-2 .img-frame img:nth-child(2) {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    left: 270px;
    bottom: -30px;
    transform: rotate(-15deg);
}
.blog-2 .bottom .bottom-2 .img-frame img:nth-child(3) {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    right: 510px;
    bottom: -50px;
    transform: rotate(5deg);
    z-index: 5;
}

.blog-2 .bottom .bottom-2 .img-frame img:nth-child(4) {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    right: 250px;
    bottom: 10px;
    transform: rotate(-5deg);
}

.blog-2 .bottom .bottom-2 .img-frame img:nth-child(5) {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    right: 50px;
    bottom: -40px;
    transform: rotate(5deg);
}


/* Blog 3 */
.blog-3 {
    justify-content: start;
    flex-direction: column-reverse;    
}
.blog-3 .top {
    height: 40%;
    width: 100%;
    order: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blog-3 .top h1 {
    width: 500px;
}
.blog-3 .bottom {
    height: 50%;
    width: 100%;
}
.blog-3 .bottom .bottom-1 {
    width: 100%;
    height: 40%;
}
.blog-3 .bottom .bottom-2 {
    width: 100%;
    height: 60%;
    display: flex;
}
.blog-3 .bottom .bottom-2 label {
    width: 50%;
}
.blog-3 .bottom .bottom-2 .img-frame {
    width: 50%;
    height: 100%;
    position: relative;
}
.blog-3 .bottom .bottom-2 .img-frame img:nth-child(1) {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    left: 20px;
    bottom: 0;
    transform: rotate(-10deg);
}
.blog-3 .bottom .bottom-2 .img-frame img:nth-child(2) {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    right: 30px;
    bottom: -30px;
    transform: rotate(5deg);
}

/* Blog 4 */
.blog-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-4 .left {
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.blog-4 .right {
    width: 50%;
    height: 100%;
    position: relative;
}
.blog-4 .right img:nth-child(1),
.blog-4 .right img:nth-child(2) {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
}
.blog-4 .right img:nth-child(3),
.blog-4 .right img:nth-child(4) {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
}
.blog-4 .right img:nth-child(1) {left: 15%; top: 0%; transform: rotate(-5deg);}
.blog-4 .right img:nth-child(2) {left: 50%; top: 0%; transform: rotate(-15deg);}
.blog-4 .right img:nth-child(3) {left: 15%; top: 40%; transform: rotate(10deg);}
.blog-4 .right img:nth-child(4) {left: 50%; top: 40%; transform: rotate(-5deg);}

/* --------------------------------------------------------------------- */
/* Title */
.title {
    height: 150px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-1 {flex-direction: column;}
.title-2 .textframe {
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
}
.title-2 .left {

    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    
}
.title-2 .left h1 {margin: 0;}
.title-2 .left label {width: 100%;}
.title-2 .right {
    width: 30%;
    height: 100%;
    position: relative;
}
.title-2 .right img {
    width: 100px;
    height: 100px;
    border-radius: 20px;

    position: absolute;
    left: 20px;
    top: -13px;

    object-fit: cover;
    transform: rotate(-5deg);
}

/* --------------------------------------------------------------------- */
/* Card */
#card-module {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#card-module .cards {
    height: fit-content;
    padding: 50px 0 50px 0;
    gap: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.card {
    height: 350px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .3s;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.1);
    z-index: 1;
}
.card img {
    height: 280px;
    width: 280px;
    object-fit: cover;
    border-radius: 20px;
}
.card:nth-child(odd) img {transform: rotate(3deg);}
.card:nth-child(even) img {transform: rotate(-3deg);}
.card .textframe {
    position: relative;
    height: 70px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.card .textframe label {
    width: 100%;
}
.card .textframe .rating {
    position: absolute;
    left: 60px;
    top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card .textframe .rating img {
    width: 20px;
    height: 20px;
}

.category-frame {
    background-color: var(--light-black);
    min-height: 100px;
    min-width: 500px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-inline: 20px;
}
.category-frame .button {
    height: 60px;
    width: 60px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;

    cursor: pointer;
    transition: all .3s;
}
.category-frame .button label {width: fit-content;}
.category-frame .img {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
}
.category-frame .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-frame .button:nth-child(1) {margin-top: 30px;transform: rotate(-5deg);}
.category-frame .button:nth-child(2) {margin-top:0px;transform: rotate(8deg);}
.category-frame .button:nth-child(3) {margin-top: 10px;transform: rotate(-5deg);}
.category-frame .button:nth-child(4) {margin-top: -10px;transform: rotate(-1deg);}
.category-frame .button:nth-child(5) {margin-top: 30px;transform: rotate(9deg);}
.category-frame .button:nth-child(6) {margin-top: 0px;transform: rotate(0deg);}
.category-frame .button:nth-child(7) {margin-top: 30px;transform: rotate(10deg);}
.category-frame .button:nth-child(8) {margin-top: 0px;transform: rotate(-5deg);}
.category-frame .button:nth-child(9) {margin-top: 20px;transform: rotate(5deg);}

.category-frame .button:hover {transform: scale(1.1);z-index: 1;}

/* --------------------------------------------------------------------- */
/* Img module */
#img-1 {
    position: relative;
    width: 750px;
}
#img-1 img {object-fit: cover; border-radius: 20px; position: absolute; transition: all .3s;}
#img-1 img:nth-child(1) {
    width: 250px;
    height: 250px;
    top: 50px;
    left: 0;
    transform: rotate(10deg);
}
#img-1 img:nth-child(2) {
    width: 250px;
    height: 250px;
    top: 50px;
    left: 250px;
    transform: rotate(-5deg);
}
#img-1 img:nth-child(3) {
    width: 500px;
    height: 250px;
    bottom: 50px;
    left: 0;
    transform: rotate(-5deg);
}
#img-1 img:nth-child(4) {
    width: 250px;
    height: 500px;
    bottom: 50px;
    left: 500px;
    transform: rotate(5deg);
}
#img-1 img:hover {transform: scale(1.1);z-index: 10;}

#img-2 {
    position: relative;
    width: 1000px;
}
#img-2 img {object-fit: cover; border-radius: 20px; position: absolute; transition: all .3s;}
#img-2 img:nth-child(1) {
    width: 250px;
    height: 300px;
    top: 50px;
    left: 0;
    transform: rotate(-5deg);
    z-index: 2;
}
#img-2 img:nth-child(2) {
    width: 500px;
    height: 250px;
    top: 50px;
    left: 250px;
    transform: rotate(5deg);
    z-index: 1;
}
#img-2 img:nth-child(3) {
    width: 300px;
    height: 250px;
    bottom: 50px;
    left: 0;
    transform: rotate(5deg);
}
#img-2 img:nth-child(4) {
    width: 450px;
    height: 250px;
    bottom: 50px;
    left: 300px;
    transform: rotate(-5deg);
}
#img-2 img:nth-child(5) {
    width: 250px;
    height: 500px;
    bottom: 50px;
    right: 10px;
    transform: rotate(3deg);
}
#img-2 img:hover {transform: scale(1.1);z-index: 10;}

#img-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-3 img {
    height: 500px;
    width: 350px;
    object-fit: cover;
    border-radius: 20px;
    transition: all .3s;
}
#img-3 img:nth-child(odd) {transform: rotate(-5deg);}
#img-3 img:nth-child(even) {transform: rotate(5deg);}
#img-3 img:hover {transform: scale(1.1); z-index: 5;}