/* Header */
header {
    height: 500px;
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    position: relative;
}
header img {
    position: absolute;
    width: 95%;
    left: 20px;
    bottom: -90px;
}
.hero-container {
    width: 600px;
    height: 220px;
    position: relative;
    z-index: 1;
}
.hero-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    transition: transform 0.1s ease-out;
    border-radius: 15px;
    position: absolute;
}
.hero-image:nth-child(1) { rotate: 12deg; bottom: 0px; left: -60px; width: 270px; }
.hero-image:nth-child(2) { rotate: 5deg; bottom: 10px; left: 150px; }
.hero-image:nth-child(3) { rotate: -10deg; bottom: -80px; left: 260px; height: 250px; width: 230px;}
.hero-image:nth-child(4) { rotate: 5deg; bottom: 10px; left: 380px; width: 250px;}

/* --------------------------------------------------------------------- */
/* Blogs desing */
/* Blog 2 */
.blog-2 {
    justify-content: start;
    flex-direction: column-reverse;    
}
.blog-2 .top {
    margin-top: -50px;
    height: 40%;
    width: 100%;
    order: 1;
    
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: start;
}
.blog-2 .top h1 {
    width: 500px;
}
.blog-2 .bottom {
    height: 50%;
    width: 100%;
}
.blog-2 .bottom .bottom-1 {
    width: 100%;
    height: 30%;
}
.blog-2 .bottom .bottom-2 {
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
    margin-top: 50px;
}
.blog-2 .bottom .bottom-2 .img-frame img:nth-child(1) {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    left: 30px;
    bottom: 0;
    transform: rotate(10deg);
}
.blog-2 .bottom .bottom-2 .img-frame img:nth-child(2) {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    left: 270px;
    bottom: -30px;
    transform: rotate(-15deg);
}
.blog-2 .bottom .bottom-2 .img-frame img:nth-child(3) {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    right: 510px;
    bottom: -50px;
    transform: rotate(5deg);
    z-index: 5;
}

.blog-2 .bottom .bottom-2 .img-frame img:nth-child(4) {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    right: 250px;
    bottom: 10px;
    transform: rotate(-5deg);
}

.blog-2 .bottom .bottom-2 .img-frame img:nth-child(5) {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    right: 50px;
    bottom: -40px;
    transform: rotate(5deg);
}


/* Blog 3 */
.blog-3 {
    justify-content: start;
    flex-direction: column-reverse;    
}
.blog-3 .top {
    height: 40%;
    width: 100%;
    order: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blog-3 .top h1 {
    width: 500px;
}
.blog-3 .bottom {
    height: 50%;
    width: 100%;
}
.blog-3 .bottom .bottom-1 {
    width: 100%;
    height: 40%;
}
.blog-3 .bottom .bottom-2 {
    width: 100%;
    height: 60%;
    display: flex;
}
.blog-3 .bottom .bottom-2 label {
    width: 50%;
}
.blog-3 .bottom .bottom-2 .img-frame {
    width: 50%;
    height: 100%;
    position: relative;
}
.blog-3 .bottom .bottom-2 .img-frame img:nth-child(1) {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    left: 20px;
    bottom: 0;
    transform: rotate(-10deg);
}
.blog-3 .bottom .bottom-2 .img-frame img:nth-child(2) {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
    right: 30px;
    bottom: -30px;
    transform: rotate(5deg);
}

/* Blog 4 */
.blog-4 .left {
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.blog-4 .right {
    width: 60%;
    height: 100%;
    position: relative;
}
.blog-4 .right img:nth-child(1),
.blog-4 .right img:nth-child(2) {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
}
.blog-4 .right img:nth-child(3),
.blog-4 .right img:nth-child(4) {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;

    position: absolute;
}
.blog-4 .right img:nth-child(1) {left: 15%; top: 0%; transform: rotate(-5deg);}
.blog-4 .right img:nth-child(2) {left: 50%; top: 0%; transform: rotate(-15deg);}
.blog-4 .right img:nth-child(3) {left: 15%; top: 40%; transform: rotate(10deg);}
.blog-4 .right img:nth-child(4) {left: 50%; top: 40%; transform: rotate(-5deg);}

/* --------------------------------------------------------------------- */
/* Title */
.title {
    height: 150px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-1 {flex-direction: column;}
.title-2 .textframe {
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
}
.title-2 .left {

    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    
}
.title-2 .left h1 {margin: 0;}
.title-2 .left label {width: 100%;}
.title-2 .right {
    width: 30%;
    height: 100%;
    position: relative;
}
.title-2 .right img {
    width: 100px;
    height: 100px;
    border-radius: 20px;

    position: absolute;
    left: 20px;
    top: -13px;

    transform: rotate(-5deg);
}